/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    font-size: 16px;
}

.socialLinks {
    margin-top: 10px;
}

.socialLinks a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.socialLinks a:hover {
    text-decoration: underline;
}
